@font-face {
    font-family: raleway;
    src: url("../resources/fonts/Raleway-VariableFont_wght.ttf");
}

:root{
    color-scheme: light;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.ralewayFont {
    font-family: "raleway";
}

.section1 {
    background-color: chocolate;

    clip-path: circle(41.5% at 100% 48%);

    z-index: -2;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* width: 100vw; */

    position: absolute;

}

section {
    height: fit-content;
    user-select: none;
}

.profileImg {
    clip-path: circle(81.0% at 100% 0);

}

.blurBackdrop {
    backdrop-filter: blur(5px);
}

.homeTexts1 {
    font-size: 52px;
}

.homeTexts2 {
    font-size: 40px;
}

.projectList1 {
    user-select: none;
}

.zoom-mini {
    transition: transform .3s;
    ;
}

.zoom-mini:hover {
    transform: scale(1.05);
}



@media (max-width : 990px) {
    .homeTexts1 {
        font-size: 30px;
    }

    .homeTexts2 {
        font-size: 24px;
    }

    .homeTexts3 {
        font-size: 12px;
    }

    .homeTexts4 {
        font-size: 10px;
    }

}

@media (max-width : 576px){
    .mobsize{
        font-size: 10px;
    }

    .mobsizeHeader{
        font-size: 15px;
    }
}

@media (max-width : 425px){
    .mobsize{
        display: none;
    }
}

.blur{
    filter: blur(3px);
    z-index: -5;
}


.icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 24;
}

.icons a {
    text-decoration: none;
    color: inherit;
}

.carousel-showDesc {
    position: relative;
}

.carousel-description {
    position: absolute;
    font-size: 13px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.726);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.carousel-showDesc:hover .carousel-description {
    opacity: 1;
}

.hireMeSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.noDecorationAnchor{
    text-decoration: none;
    color: black;
}

@media(max-width : 650px){
    .hireMobileHeader{
        font-size: 20px;
    }

    .hireMobile{
        font-size: 15px;
    }

    .footerSize{
        font-size: 12px;
    }
}

.homeContainer{
    height: 50vw;
}

@media (max-width : 576px) {
    .homeContainer{
        height: 60vh;
    }
}